* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
  --white: hsl(0, 0%, 100%);
  --desaturated-blue: hsl(236, 21%, 26%);
  --dark-blue: hsl(235, 16%, 14%);
  --very-dark-blue: hsl(234, 17%, 12%);
}

html {
  font-size: 62.5%;
}

body, input, button {
  font-family: 'Red Hat Text', sans-serif;
}

body {
  background-image: url(assets/bg-stars.svg), linear-gradient(var(--very-dark-blue), #241D2C);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(310fr, 40fr, 30fr);
  min-height: 100vh;
  /* background-image: url(assets/pattern-hills.svg);
  background-repeat: no-repeat;
  background-position: center bottom; */
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1rem;
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.main > .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card::before {
  position: absolute;
  content: "";
  left: 0;
  top: calc(50% - 20px);
  height: 6px;
  width: 3px;
  background-color: var(--very-dark-blue);
  z-index: 100;
  border-radius: 0 15px 15px 0;
}

.card::after {
  position: absolute;
  content: "";
  right: 0;
  top: calc(50% - 20px);
  height: 6px;
  width: 3px;
  background-color: var(--very-dark-blue);
  z-index: 100;
  border-radius: 15px 0 0 15px;
}

.card > .card-body {
  background: var(--desaturated-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.25rem;
  border-radius: .75rem;
  color: var(--soft-red);
  font-weight: 700;
  position: relative;
  height: 10.25rem;
  width: 10.25rem;
  box-shadow: 0px 6px 1px rgb(0 0 0 / 25%);
}

.card > .card-body::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
  border-bottom-left-radius: .75rem;
  border-bottom-right-radius: .75rem;
  background-color: var(--very-dark-blue);
  opacity: .2;
}

.card > .card-footer {
  color: var(--grayish-blue);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .35rem;
  font-weight: 700;
  margin-top: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(assets/pattern-hills.svg);
  background-position: center;
  background-size: cover;
  padding-top: 10rem;
}

.footer img {
  width: 100%;
  max-width: 2.65rem;
  height: auto;
  margin: 0 2rem;
  transition: .3s;
}

.footer img:hover {
  cursor: pointer;
}

@media(max-width: 460px) {
  html {
    font-size: 50%;
  }

  .card > .card-body {
    height: 8rem;
    width: 8rem;
    font-size: 4rem;
  }

  .header, .footer {
    align-items: flex-end;
    padding-bottom: 3rem;
  }
}