.container {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  padding: 4rem;
  position: relative;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.containerComment {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.subComment {
  padding-left: 4.5rem;
  border-left: 2px solid hsl(223, 19%, 93%);
  margin-left: 4.5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (max-width: 768px) {
    padding-left: 1.5rem;
    margin-left: 0;
  }
}
