.container {
  display: flex;
  flex-direction: column;
  gap: 2.15rem;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
  }

  h5 {
    color: hsl(212, 24%, 26%);
    font-size: 1.6rem;
    text-transform: lowercase;
  }

  span {
    background: hsl(238, 40%, 52%);
    padding: 0.5rem 0.75rem;
    color: hsl(0, 0%, 100%);
    border-radius: 0.35rem;
  }

  time {
    font-size: 1.6rem;
    color: hsl(211, 10%, 45%);
  }
}

.content {
  b {
    color: hsl(238, 40%, 52%);
    font-weight: 500;
  }

  p {
    font-size: 1.6rem;
    color: hsl(211, 10%, 45%);
    line-height: 2.4rem;
  }
}

.optionGroup {
  display: flex;
  align-items: center;
  gap: 2rem;

  span {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    color: hsl(238, 40%, 52%);
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.5;
    }

    &:first-child {
      color: hsl(358, 79%, 66%);
    }
  }
}

.updateComment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;

  textarea {
    resize: none;
    padding: 2rem;
    font-size: 1.6rem;
    width: 100%;
    color: hsl(211, 10%, 45%);
    flex: 1;
    border-radius: 0.5rem;
    border: 1px solid hsl(223, 19%, 93%);
    outline: none;
    transition: border-color 0.3s ease-in-out;
    cursor: pointer;

    &:focus {
      border-color: hsl(211, 10%, 45%);
    }
  }

  button {
    background: hsl(238, 40%, 52%);
    border: 0;
    font-size: 1.6rem;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }
}
