* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, input, button {
  font-family: 'Overpass', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
}

.header {
  background: url('./images/bg-pattern-intro.svg') no-repeat left top, linear-gradient(to right, #FF8D70, #FF485A);
  background-position: 25% 52%;
  border-bottom-left-radius: 10rem;
  min-height: 90vh;
}

.navbar .container {
  width: 90%;
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 3rem 0;
  font-family: 'Ubuntu', sans-serif;
}

.navbar .logo {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 4rem;
}

.navbar-nav {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 4rem;
  display: flex;
  justify-content: space-between;
}

.navbar-nav ul {
  list-style: none;
}

.navbar-nav ul li {
  display: inline-block;
  margin: 0 2rem;
  cursor: pointer;
  position: relative;
}

.navbar-nav ul li a {
  text-decoration: 0;
  color: hsl(0, 0%, 100%);
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: .5rem;
}

.navbar-nav ul li a:hover {
  text-decoration: underline;
}

.navbar-nav ul li img {
  transition: .5s;
}

.navbar-nav ul li:hover img {
  transform: rotate(180deg);
}

/* Start Drop */

.navbar-nav ul li:hover ul.dropdown {
  display: block;
}

.navbar-nav ul li ul.dropdown {
  display: none;
  background: red;
  position: absolute;
  background: hsl(0, 0%, 100%);
  border-radius: .5rem;
  width: 15rem;
  padding: 1rem 0;
  margin-left: -1rem;
}

.navbar-nav ul li ul.dropdown li {
  display: block;
  padding: .5rem 0;
}

.navbar-nav ul li ul.dropdown li a {
  color: hsl(237, 17%, 21%);
  font-weight: 300;
}

.navbar-nav ul li ul.dropdown li a:hover {
  font-weight: 600;
  text-decoration: none;
}

/* End Drop */

.navbar-nav .button-group button {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1.45rem 4rem;
  font-weight: 700;
  border-radius: 5rem;
  background: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: .25s;
}

.navbar-nav .button-group button.signup {
  background: hsl(0, 0%, 100%);
  color: hsl(353, 100%, 62%)
}

.navbar-nav .button-group button.signup:hover {
  background: hsl(355, 100%, 74%);
  color: hsl(0, 0%, 100%);
}

.navbar-nav .button-group button.login {
  color: hsl(0, 0%, 100%);
}

.menu-toggle {
  display: none;
}

.header-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  font-family: 'Ubuntu', sans-serif;
  height: calc(80vh - 107px);
  padding: 3rem;
}

.header-title {
  font-weight: 500;
  font-size: 5.25rem;
  text-align: center;
}

.header-text {
  font-size: 2rem;
  margin: 3rem 0;
  text-align: center;
}

.header-button-group {
  display: flex;
}

.header-button-group button {
  padding: 1.75rem 3rem;
  border: 0;
  margin: 0 .75rem;
  outline: 0;
  border-radius: 10rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: hsl(353, 100%, 62%);
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 100%);
  transition: .25s;
}

.header-button-group button.learn-more {
  background: 0;
  color: hsl(0, 0%, 100%);
}

.header-button-group button.start-free:hover {
  background: hsl(355, 100%, 74%);
  border-color: hsl(355, 100%, 74%);
  color: hsl(0, 0%, 100%);
}

.header-button-group button.learn-more:hover {
  background: hsl(0, 0%, 100%);
  color: hsl(355, 100%, 74%);
}

.feature-1 {
  padding: 10rem 0;
}

.feature-1 .container {
  width: 90%;
  max-width: 110rem;
  margin: 0 auto;
}

.feature-header {
  font-size: 4rem;
  font-weight: 600;
  color: hsl(208, 49%, 24%);
  margin-bottom: 10rem;
  text-align: center;
}

.features-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.feature-content {
  background: red;
}

.feature-image {
  position: relative;
  background: green;
  overflow-x: hidden;
}

.feature-image img {
  width: 150%;
}

.feature-body {

}

.feature-title {
  font-size: 3rem;
  font-weight: 600;
  color: hsl(208, 49%, 24%);
  margin-bottom: 1.5rem;
}

.feature-text {
  font-size: 1.55rem;
  line-height: 2.85rem;
  letter-spacing: .1rem;
  color: hsl(207, 13%, 34%);
  margin-bottom: 5rem;
}

@media(max-width: 860px) {
  .navbar-nav {
    display: none;
  }
  .navbar .container {
    justify-content: space-between;
  }
  .menu-toggle {
    display: block;
  }
  .navbar .container {}
  .navbar-nav.toggled {
    display: flex;
    position: absolute;
    top: 10rem;
    bottom: 10rem;
    left: 0rem;
    right: 0rem;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background: hsl(0, 0%, 100%);
    border-radius: 1rem;
    max-width: 90%;
    margin: 0 auto;
  }
  .navbar-nav.toggled ul li {
    display: block;
    margin: 2rem 0;
  }
  .navbar-nav.toggled ul li a {
    color: hsl(237, 17%, 21%);
    font-size: 2rem;
  }
  .navbar-nav.toggled ul li img {
    content: url(images/icon-arrow-dark.svg);
  }
  .navbar-nav.toggled ul li ul.dropdown {
    position: relative;
    background: #EFEFF1;
    margin: 0;
    width: 30rem;
  }
  .navbar-nav.toggled ul li ul.dropdown li {
    text-align: center;
  }
  @media(max-width: 425px) {
    html {
      font-size: 50%;
    }
  }
  @media(max-width: 320px) {
    .header-button-group {
      flex-direction: column;
      align-items: center;
    }
    .header-button-group button {
      margin: 1rem 0;
      width: 100%;
    }
  }
}