* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);

  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

body,
input,
button,
select,
textarea {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

body {
  background: var(--very-light);
  cursor: default;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-modal-content {
  width: 100%;
  max-width: 455px;
  background: var(--background);
  padding: 3rem;
  position: relative;
  border-radius: 0.24rem;
}

@media (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 50%;
  }
}
