.container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.comments {
  display: flex;
  flex-direction: column;
  // gap: 2rem;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.replys {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 4rem;
  border-left: 1px solid var(--light-gray);
  margin-left: 4rem;

  @media (max-width: 768px) {
    padding-left: 2rem;
    margin-left: 0;
  }
}
