.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.65rem;
  font-weight: 500;
  color: hsl(238, 40%, 52%);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}
