@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 98%);
  --light-blue: hsl(220, 16%, 96%);
  --grayish-blue: hsl(233, 8%, 62%);
}

html {
  font-size: 62.5%;
  background: var(--light-gray);
}

body, input, button {
  font-family: 'Public Sans', sans-serif;
}

input, button {
  border: none;
  background: none;
  outline: none;
}

.navbar {
  background: var(--white);
  z-index: 1000;
  position: relative;
}

.navbar .container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0rem;
}

.navbar .container img {
  width: 100%;
  max-width: 15rem;
}

.navbar .container ul {
  display: flex;
  list-style: none;
}

.navbar .container ul li {
  
}

.navbar .container ul li a {
  font-size: 1.5rem;
  margin: 0 .5rem;
  text-decoration: none;
  color: var(--grayish-blue);
  padding: 2.5rem .95rem;
  transition: color .1s;
}

.navbar .container ul li a:hover {
  color: var(--dark-blue);
  border-bottom: .3rem solid;
  border-bottom-color: var(--lime-green);
}

.navbar .container .menu-toggle {
  display: none;
}

.navbar .container button {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--white);
  background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  padding: 1.5rem 4.3rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: opacity .3s;
}

.navbar .container button:hover {
  opacity: .65;
}

/* =================================== */

.hero {
  background-image: url(assets/bg-intro-desktop.svg);
  background-position: 750% center;
  background-repeat: no-repeat;
  height: calc(100vh - 73px);
}

.hero .container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero .container .left {
  
}

.hero .container .left h1 {
  font-size: 5rem;
  max-width: 50rem;
  color: var(--dark-blue);
  font-weight: 500;
}

.hero .container .left p {
  max-width: 50rem;
  color: var(--grayish-blue);
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 3rem 0;
}

.hero .container .left button {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--white);
  background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  padding: 1.5rem 4.3rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: opacity .3s;
}

.hero .container button:hover {
  opacity: .65;
}

.hero .container .right {

}

.hero .container .right img {
  width: 100%;
  max-width: 60rem;
  position: relative;
}

/* =================================== */

.section {
  padding: 5rem 0;
  background: #f0f0f5;
}

.section .container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.row h1 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--dark-blue);
  margin-bottom: 3rem;
}

.row p {
  font-size: 1.6rem;
  margin: 1rem 0rem;
  color: var(--grayish-blue);
}

.benefits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0rem 2rem;
  margin-top: 5rem;
}

.card {}

.card img {
  width: 100%;
  max-width: 10rem;
  height: auto;
}

.card h3 {
  margin: 2rem 0;
  font-size: 2rem;
  color: var(--dark-blue);
  font-weight: 600;
}

.card p {
  font-size: 1.65rem;
  line-height: 2rem;
  color: var(--grayish-blue);
}

/* =================================== */

.latest {
  padding: 5rem 0;
  background: var(--white);
}

.latest .container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  font-weight: 500;
  color: var(--dark-blue);
  margin-bottom: 3rem;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0rem 1rem;
}

.articles .card {
  padding: .5rem;
  display: flex;
  flex-direction: column;
}

.articles .card img {
  width: 100%;
  max-width: 300rem;
  height: 100%;
  max-height: 20rem;
  border-radius: 1rem 1rem 0rem 0rem;
  margin-bottom: 1rem;
  cursor: pointer;
  background: opacity 10s;
}

.articles .card img:hover {
  opacity: .9;
}

.articles .card span {
  font-size: 1.3rem;
  color: var(--grayish-blue);
  padding: 0rem 1rem;
}

.articles .card h3 {
  font-weight: 400;
  font-size: 1.9rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: color .25s;
  padding: 0rem 1rem;
}

.articles .card h3:hover {
  color: var(--lime-green);
}

.articles .card p {
  font-size: 1.5rem;
  color: var(--grayish-blue);
  padding: 0rem 1rem;
}

/* =================================== */

.footer {
  background: var(--dark-blue);
  padding: 5rem 0;
}

.footer .container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25fr 25fr 50fr;
  gap: 0rem 1rem;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.social img {
  margin-right: 1.5rem;
  cursor: pointer;
}

.social img:hover {
  opacity: .85;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center .links {
  display: flex;
  flex-direction: column;
}

.center .links a {
  color: #fff;
  text-decoration: none;
  padding: 1rem 0rem;
  font-size: 1.5rem;
  transition: color .25s;
}

.center .links a:hover {
  color: var(--lime-green);
}

.footer .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.footer .right button {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--white);
  background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  padding: 1.5rem 4.3rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: opacity .3s;
}

.footer .right button:hover {
  opacity: .65;
}

.footer .right span {
  font-size: 1.5rem;
  color: var(--grayish-blue);
}

@media(max-width: 980px) {
  .hero {
    height: auto;
    background-image: url(assets/bg-intro-mobile.svg);
    background-size: contain;
    background-position: right top;
  }

  .hero .container {
    flex-direction: column;
    padding: 3rem 0;
  }

  .hero .container .left {
    order: 2;
    text-align: center;
  }

  .hero .container .left button {
    margin: 0 auto;
  }

  .hero .container .right img {
    max-width: 30rem;
  }
  
  .section .row {
    text-align: center;
  }

  .benefits .card {
    text-align: center;
  }

  .benefits {
    grid-template-columns: 1fr 1fr;
    gap: 4rem 2rem;
  }

  .articles {
    grid-template-columns: 1fr 1fr;
    gap: 3rem 1rem;
  }

  .latest .title {
    text-align: center;
  }
}

@media(max-width: 830px) {
  .footer .container {
    display: flex;
    flex-direction: column;
  }

  .footer .container .left {
    justify-content: center;
    align-items: center;
  }

  .footer .container .left .social img {
    margin-top: 3rem;
  }

  .footer .container .center {
    flex-direction: column;
    text-align: center;
    padding: 2rem 0rem;
  }

  .footer .container .right {
    justify-content: center;
    align-items: center;
  }

  .footer .container .right button {
    margin-bottom: 3rem;
  }
}

@media(max-width: 790px) {
  .navbar .container button, 
  .navbar .container ul {
    display: none;
  }

  .navbar .container .menu-toggle {
    display: block;
  }

  .navbar .container .menu-toggle img {
    height: 2rem;
    width: auto;
  }

  .navbar .container ul.toggled {
    display: flex;
    position: absolute;
    background-color: var(--white);
    left: 2rem;
    right: 2rem;
    top: 8rem;
    padding: 5rem;
    border-radius: .5rem;
    flex-direction: column;
    gap: 3rem;
  }

  .navbar .container ul.toggled li {
    text-align: center;
  }

  .navbar .container ul.toggled li a {
    font-weight: 500;
    font-size: 1.75rem;
    color: #505972;
  }

  .navbar .container .menu-toggle img.toggled {
    content: url(assets/icon-close.svg);
  }
}

@media(max-width: 425px) {
  html {
    font-size: 50%;
  }
  
  .section .benefits, .latest .articles {
    grid-template-columns: 1fr;
  }
}