* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Manrope', sans-serif;
}

.container {
  background: #202632;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  gap: 12rem;
}

.card {
  width: 100%;
  max-width: 475px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #313A49;
  border-radius: 1.25rem;
  padding: 4rem 4rem 6rem;
  position: relative;

  box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);
}

.card h5 {
  color: hsl(150, 100%, 66%);
  font-size: 1.15rem;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
}

.card q {
  margin: 2.8rem 0;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: hsl(193, 38%, 86%);
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.card button {
  position: absolute;
  height: 5.5rem;
  width: 5.5rem;
  border: none;
  outline: none;
  font-size: 0;
  border-radius: 50%;
  bottom: -2.75rem;
  cursor: pointer;
  background: hsl(150, 100%, 66%);
  transition: box-shadow 0.15s ease-in-out;
}

.card button:hover {
  box-shadow: 0 0 30px hsl(150, 100%, 66%);
}

.card button img {
  width: 2.4rem;
  height: auto;
}

#loading {
  display: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 3px solid #f0f0f5;
  border-bottom-color: transparent;
  margin: 4rem 0;
  animation: rotation 1s linear infinite;
}

.attribution {
  font-size: 1.35rem;
  color: hsl(217, 19%, 38%);
}

.attribution a {
  color: hsl(193, 38%, 86%);
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

@media(max-width: 560px) {
  .card p {
    max-width: 100%;
  }
}

@media(max-width: 425px) {
  html {
    font-size: 50%;
  }
}