* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, input, button, select, textarea {
  font-family: 'Rubik', sans-serif;
}

body {
  background: #F5F6F9;
  cursor: default;
}

@media(max-width: 375px) {
  html {
    font-size: 50%;
  }
}