* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button, body {
  font-family: 'Barlow', sans-serif;
}

html {
  font-size: 62.5%;
}

.landing-page {
  height: 100vh;
  background-image: url(images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
}

.navbar {
  position: relative;
}

.navbar .container {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
}

.navbar-logo {
  color: hsl(0, 0%, 100%);
  font-size: 3.5rem;
  font-weight: 800;
}

.navbar-nav {}

.hamburger {
  display: none;
}

.navbar-nav a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: 500;
  margin: 0 2rem;
}

.navbar-nav button {
  margin-left: 2rem;
  padding: 1.5rem 3rem;
  border-radius: 5rem;
  border: 0;
  background-color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  color: hsl(212, 27%, 19%);
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  transition: .25s;
}

.navbar-nav button:hover {
  background-color: rgba(255, 255, 255, .25);
  color: hsl(0, 0%, 100%);
}

.navbar-nav button:hover {
  cursor: pointer;
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-content h1 {
  color: hsl(0, 0%, 100%);
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 6rem;
  letter-spacing: .5rem;
  text-transform: uppercase;
  padding: 5rem 0;
}

.section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-content {
  max-width: 45rem;
  width: 95%;
}

.section-content h1 {
  color: hsl(212, 27%, 19%);
  font-size: 3.5rem;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  max-width: 40rem;
}

.section-content p {
  color: hsl(232, 10%, 55%);
  font-size: 1.8rem;
  font-weight: 500;
  max-width: 45rem;
  margin: 4rem 0;
  line-height: 2.5rem;
}

.section-content a {
  color: hsl(212, 27%, 19%);
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: .25rem;
  font-family: 'Fraunces', serif;
  position: relative;
}

.section-content a::after {
  content: "";
  height: .7rem;
  width: 105%;
  border-radius: 5rem;
  position: absolute;
  top: 1.65rem;
  left: -.5rem;
  transition: background .25s;
}

.section-content.yellow a::after {
  background: #FEF4B7;
}

.section-content.pink a::after {
  background: #FFDCD6;
}

.section-content.yellow a:hover::after {
  background: #FED201;
}

.section-content.pink a:hover::after {
  background: #FE7563;
}

.section-image {}

.section-image img {
  width: 100%;
  height: auto;
}

.section-services {
  background-image: url(images/desktop/image-graphic-design.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 600px;
}

.section-services:last-child {
  background-image: url(images/desktop/image-photography.jpg);
}

.services-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.services-content h1 {
  font-family: 'Fraunces', serif;
  color: hsl(167, 40%, 24%);
  font-size: 2.75rem;
  font-weight: 800;
  margin-bottom: 2.5rem;
}

.section-services:last-child .services-content h1 {
  color: hsl(198, 62%, 26%);
}

.services-content p {
  color: hsl(167, 40%, 24%);
  font-size: 1.6rem;
  font-weight: 500;
  max-width: 35rem;
  text-align: center;
  font-weight: 600;
  line-height: 2.25rem;
}

.section-services:last-child .services-content p {
  color: hsl(198, 62%, 26%);
}

.testimonials {
  margin: 12rem 0;
}

.testimonials-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  text-align: center;
  margin-bottom: 8rem;
  color: hsl(210, 4%, 67%);
  letter-spacing: .5rem;
}

.card-group {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image img {
  width: 100%;
  max-width: 7rem;
  height: auto;
  border-radius: 50%;
}

.card-text {
  text-align: center;
  margin: 5rem 0;
  font-weight: 600;
  font-size: 1.65rem;
  max-width: 32rem;
  line-height: 2.65rem;
  color: hsl(213, 9%, 39%);
}

.card-footer {
  text-align: center;
}

.card-footer h2 {
  margin-bottom: 1rem;
  font-family: 'Fraunces', serif;
  color: hsl(212, 27%, 19%);
  font-size: 1.8rem;
  font-weight: 800;
}

.card-footer span {
  color: hsl(210, 4%, 67%);
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: .35;
}

.images-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.images-group img {
  width: 100%;
  height: auto;
}

.footer {
  background: #90D4C5;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.footer-title {
  font-size: 4rem;
  font-weight: 900;
  color: hsl(167, 40%, 24%);
}

.footer-nav {}

.footer-nav a {
  text-decoration: none;
  margin: 0 3rem;
  font-size: 1.8rem;
  color: hsl(168, 53%, 7%);
  font-weight: 600;
  transition: color .25s;
}

.footer-nav a:hover {
  color: hsl(0, 0%, 100%);
}

.footer-icons {
  margin-top: 4rem;
}

.footer-icons img {
  margin: 0 1.5rem;
  cursor: pointer;
  transition: .25s;
}

.footer-icons img:hover {
  filter: brightness(0) invert(1);
}

@media(max-width: 768px) {
  html {
    font-size: 56.25%;;
  }

  .section-grid {
    grid-template-columns: 1fr;
  }

  .section-content {
    padding: 7rem 0;
    text-align: center;
  }

  .image-1 {
    order: -1;
    background-image: url(images/mobile/image-transform.jpg);
  }

  .image-2 {
    background-image: url(images/mobile/image-stand-out.jpg);
  }

  .images-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .images-group img {

  }

  .card-group {
    flex-direction: column;
  }

  .landing-page {
    background-image: url(images/mobile/image-header.jpg);
  }

  .landing-content h1 {
    font-size: 3rem;
    text-align: center;
  }

  .navbar-nav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .navbar-nav.toggle {
    display: flex;
    flex-direction: column;
    align-self: center;
    background: #fafafa;
    position: absolute;
    top: 13rem;
    left: 2rem;
    right: 2rem;
    padding: 3rem;
  }

  .navbar-nav.toggle::after {
    border-left: 40px solid transparent;
    border-bottom: 40px solid #fafafa;
    content: "";
    right: 0;
    top: -3rem;
    position: absolute;

  }

  .navbar-nav.toggle a {
    text-align: center;
    margin: 2rem 0;
    color: hsl(213, 9%, 39%);
    font-weight: 600;
  }

  .navbar-nav.toggle button {
    background: hsl(51, 100%, 49%);
    width: 65%;
    margin: 3rem auto;
    color: hsl(212, 27%, 19%);
  }
}

@media(max-width: 375px) {
  html {
    font-size: 50%;;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-nav a {
    margin: 1rem 0;
  }
}