* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

input, button, body {
  font-family: 'Rubik', sans-serif;
}

.wrapper {
  min-height: 100vh;
  background-color: #0D1323;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.content {
  width: 90%;
  max-width: 1360px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.top {
  height: 6.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.top > img {
  position: absolute;
  right: .5rem;
  top: -.5rem;
  max-width: 5rem;
  height: auto;
}

.profile {
  background: #1D204B;
  border-radius: 1rem;
  transition: .25s;
  display: flex;
  flex-direction: column;
}

.profile-information {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  background: #5746EA;
  border-radius: 1rem;
}

.profile-information img {
  width: 100%;
  max-width: 6rem;
  height: auto;
  border: 2px solid #fafafa;
  border-radius: 50%;
  margin-bottom: 3rem;
}

.profile-information span {
  color: #fafafa;
  font-size: 1.5rem;
  opacity: .95;
  font-weight: 300;
  margin-bottom: 1rem;
}

.profile-information h1 {
  color: #fafafa;
  font-weight: 300;
  font-size: 3rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 1.45rem;
  padding: 2rem 3rem;
  height: 100%;
  justify-content: center;
}

.navigation .selected {
  color: #fafafa;
}

.navigation h5 {
  color: rgba(255, 255, 255, .7);
  font-size: 1.35rem;
  font-weight: 400;
  cursor: pointer;
  transition: color .25s;
}

.navigation h5:hover {
  color: #fafafa;
}

.wrapper-data {
  border-radius: 2rem;
}

.body {
  border-radius: 1rem;
  padding: 2rem;
  background: #1D204B;
  transition: background .25s;
  cursor: pointer;
  position: relative;
}

.body:hover {
  background: #34397B;
}

.body .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.body .row h5 {
  color: #fafafa;
  font-weight: 500;
  font-size: 1.35rem;
}

.body .row img {
  max-width: 1.5rem;
  width: 100%;
  height: auto;
  cursor: pointer;
  opacity: .85;
}

.body .row img:hover {
  opacity: 1;
}

.body h1 {
  color: #fafafa;
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.body span {
  font-size: 1.35rem;
  color: rgba(255, 255, 255, .7);
}

.attribution {
  color: #fafafa;
  font-size: 1.35rem;
}

.attribution a {
  color: #5746EA;
}

@media(max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }
  
  .grid-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 475px) {  
  html {
    font-size: 50%;
  }

  .grid-content {
    grid-template-columns: 1fr;
  }

  .navigation {
    flex-direction: row;
    justify-content: space-between;
  }

  .profile-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .profile-information img {
    margin: 0;
  }

  .profile-information br {
    display: none;
  }

  .row2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}